# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel


/selenium-testing/node_modules
/selenium-testing/.pnp
/selenium-testing/.pnp.js

# testing
/selenium-testing/coverage

# next.js
/selenium-testing/.next/
/selenium-testing/out/

# production
/selenium-testing/build

# misc
/selenium-testing/.DS_Store
/selenium-testing/*.pem

# debug
/selenium-testing/npm-debug.log*
/selenium-testing/yarn-debug.log*
/selenium-testing/yarn-error.log*

# local env files
/selenium-testing/.env.local
/selenium-testing/.env.development.local
/selenium-testing/.env.test.local
/selenium-testing/.env.production.local

# vercel
/selenium-testing/.vercel
